[Unit]
Description=Dank Material Shell (DMS)
After=graphical-session.target
PartOf=graphical-session.target


[Service]
Environment=QT_QPA_PLATFORMTHEME=qt6ct
Type=simple
ExecStart=/usr/bin/dms run --session
ExecReload=/usr/bin/pkill -USR1 -x dms
Restart=always
RestartSec=2
TimeoutStopSec=10


[Install]
WantedBy=graphical-session.target
