@import url("/home/nick/.config/waybar/colors/matugen-waybar.css");

/* ===== Reset ===== */
* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 11pt;
    min-height: 0;
}

/* ===== Bar ===== */
window#waybar {
    background: @primary;
    color: @primary;

    margin: 0;
    padding: 0;

    border: none;
}

/* ===== Workspaces ===== */
#workspaces button {
    padding: 0 10px;
    margin: 0;

    background: transparent;
    color: alpha(@primary, 0.6);

    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    color: alpha(@primary, 0.9);
}

/* Active underline only */
#workspaces button.active {
    color: @primary;
    border-bottom: 2px solid @red;
}

/* Urgent */
#workspaces button.urgent {
    border-bottom: 2px solid @yellow;
}

/* ===== Modules ===== */
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd,
#battery {
    padding: 0 8px;
}

/* Subtle module colors */
#clock { color: @pink; }
#pulseaudio { color: @pink; }
#network { color: @purple; }
#cpu.warning { color: @yellow; }
#cpu.critical { color: @red; }
#battery.warning { color: @yellow; }
#battery.critical { color: @red; }
