* {
    background:                  rgba(15, 21, 18, 0.8);
    background-alt:              #404943;
    foreground:                  #dee4de;
    selected:                    #8dd5b3;
    active:                      #8dd5b3;
    urgent:                      #ffb4ab;
}
